@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Perfect Dark (BRK)";
	src: url("~/assets/fonts/pdark.ttf");
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.gradient-bg {
	background: linear-gradient(-45deg, #070707, #0c0c0c, #111, #222, #240c11, #191d36, #10131d, #070707);
	background-size: 400% 1100%;
	animation: gradient 15s ease infinite;
	min-height: 100vh;
	width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Perfect Dark (BRK)", sans-serif;
	}
}

h1 {
	font-size: 4.5em;
	text-align: center;
}

h2 {
	font-size: 3em;
	text-align: center;
}

h3 {
	font-size: 2em;
	text-align: center;
}

p {
	max-width: 600px;
	padding: 10px;
	margin: 20px auto;
	font-size: 1.1em;
}
